/* COMMON */
:root {
  /* color */
  --white-color: #fdfdfd;
  --dark-grey-color: #616161;
  --light-grey-color: #bdbdbd;
  --green-color: #255d00;
  --black-color: #191919;

  /* font size */
  --font-max-900-size: 14px;
  --font-max-600-size: 12px;
  --font-max-480-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: var(--font-monitor-size);
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.detailBtn {
  font-size: 0.8em;
  font-style: italic;
  color: var(--black-color);
  background-color: var(--white-color);
  border: 1.5px solid var(--dark-grey-color);
  padding: 0.5em 4em;
  cursor: pointer;
}

.container {
  background-color: var(--white-color);
  overflow: hidden;
  display: block;
}

/* HEADER */
header {
  width: 100%;
  padding: 0.5em 1em;
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  z-index: 1;
}

header #header {
  background-color: var(--white-color);
  width: 100%;
  max-width: 1200px;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header-logo {
  font-family: 'Cabin', sans-serif;
  color: var(--green-color);
  font-weight: 700;
  font-size: 1.3rem;
}

#header ul {
  display: flex;
  justify-content: space-around;
}

header #header ul li {
  margin-right: 4.5em;
}

header #header ul li:last-child {
  margin-right: 0;
}

header #header ul li a {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--dark-grey-color);
  transition: color .2s;
}

header #header ul li a:hover {
  color: var(--green-color);
}

header #header .nav-icon {
  color: var(--dark-grey-color);
  cursor: pointer;

  display: flex;
  align-items: center;
}

header #header .nav-icon #search-input {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid var(--dark-grey-color);
}

header #header .nav-icon #search-icon {
  margin: 0 0.5em;
}

header #header .nav-icon #menu-bar {
  display: none;
  cursor: pointer;
}

/* MAIN */
main {
  font-family: 'Cabin', sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1597307673540-7749c8acab96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBsYW50JTIwaGFuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

#main {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#main .main_text {
  margin-top: 4.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main .main_text .main_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  padding: 1.2em 0;
  line-height: 1;
}

#main .main_text span {
  color: var(--white-color);
  text-align: center;
}

#main .main_text .main_box .text1 {
  font-size: 1.8em;
}

#main .main_text .main_box .text2 {
  font-size: 2.2em;
  font-weight: 700;
}

#main .main_text .text3 {
  margin: 1.5em 0;
  font-size: 1.1em;
}

#main .main_text .text4 {
  text-align: center;
  font-size: .8em;
}

/* SECTION COMMON */
section {
  width: 100%;
}

#section1,
#section2,
#section3,
#section4 {
  font-family: 'Roboto', sans-serif;
  padding: 6em 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section1 .title,
#section2 .title,
#section3 .title,
#section4 .title {
  color: var(--black-color);
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 0.6em;
}

#section1 .info,
#section2 .info,
#section3 .info,
#section4 .info {
  padding: 0.6em 2em;
  text-align: center;
  border-top: 2px solid var(--light-grey-color);
  color: var(--light-grey-color);
}

#section1 .info_list li .info_title,
#section2 ul li .name_kor,
#section3 ul li .pick_name {
  color: var(--black-color);
  margin-top: 1.5em;
  font-weight: 700;
}

#section1 .info_list li .info_detail,
#section2 ul li .name_eng,
#section3 ul li .pick_detail {
  font-size: .8em;
  color: var(--dark-grey-color);
  margin-bottom: 1.5em;
}

/* ONLY SECTION1 */
#section1 .info_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'a b'
    'c d';
}

#section1 .info_list li {
  margin: 2.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section1 .info_list li .info_img {
  width: 30vw;
  height: calc(30vw * 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 80%;
  transition: opacity .3s;
}

#section1 .info_list li .info_img:hover {
  opacity: 100%;
}

#section1 .info_list .info1 .info_img {
  background-image: url('../img/cat.jpg');
}

#section1 .info_list .info2 .info_img {
  background-image: url('https://images.unsplash.com/photo-1541194577687-8c63bf9e7ee3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGRhcmslMjByb29tfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60');
}

#section1 .info_list .info3 .info_img {
  background-image: url('../img/planterior.jpg');
}

#section1 .info_list .info4 .info_img {
  background-image: url('https://images.unsplash.com/photo-1562793350-25418e4f7eae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIwfHxza3klMjBwbGFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60');
}

/* ARTICLE COMMON */
.article1,
.article2,
.article3 {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#article1,
#article2,
#article3 {
  max-width: 1200px;
  margin: 0 auto;
  height: 200px;
  display: flex;
}

#article1 span,
#article2 span,
#article3 span {
  font-family: 'Roboto', sans-serif;
  color: var(--white-color);
  font-weight: 700;
  font-size: 1.35em;
}

/* ARTICLE1 */
.article1 {
  background-image: url('../img/flower.jpg');
}

#article1 span {
  align-self: flex-end;
  position: relative;
  left: 1em;
  bottom: 1em;
}

/* ONLY SECTION2 */
#section2 ul {
  display: flex;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
}

#section2 ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2.5em;
}

#section2 ul li img {
  width: 20vw;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

/* ARTICLE2 */
.article2 {
  background-image: url('../img/seed.jpg');
}

#article2 {
  justify-content: flex-end;
  align-items: flex-end;
}

#article2 span {
  position: relative;
  bottom: 1em;
  right: 1em;
}

/* SECTION3 */
#section3 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section3 ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5em 2em;
}

#section3 ul li img {
  display: block;
  width: 20vw;
  height: calc(20vw * 1.6);
  margin-bottom: 1em;
}

/* ARTICLE3 */
.article3 {
  background-color: black;
  background-image: url('../img/hanging.jpg');
}

#article3 span {
  align-self: flex-end;
  position: relative;
  bottom: 1em;
  left: 1em;
}

/* SECTION4 */
#section4 {
  padding-bottom: 20vh;
}

#section4 .to_gallery {
  background-image: url('https://images.unsplash.com/photo-1587471577460-bdb4891711ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fGZsb3dlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
  width: 60vw;
  height: calc(60vw * 0.3);
  margin: 2.5em 0;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #f0f0f0;
}

#footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#footer .footer-info {
  display: flex;
}

#footer .logo {
  font-family: 'Cabin', sans-serif;
  color: var(--green-color);
  font-weight: 700;
  font-size: 1.3em;
  margin-right: 2.5em;
}

#footer ul li {
  line-height: 2;
  color: var(--dark-grey-color);
  font-size: 0.8em;
}

#footer .policy-contact {
  display: flex;
}

#footer ul:first-child {
  margin-right: 2.5em;
}

#footer ul li.policy,
#footer ul li.contact {
  font-weight: 700;
}


/* pad version */
@media (max-width: 900px) {
  body {
    font-size: var(--font-max-900-size);
  }

  .detailBtn {
    color: var(--white-color);
    background-color: var(--black-color);
  }

  header #header .nav-icon #menu-bar {
    display: block;
  }

  /* menu botton 클릭하면 나오게 수정 필요 */
  #header ul {
    display: none;
  }

  #section1 .info_list {
    display: flex;
    flex-direction: column;
  }

  #section1 .info_list li .info_img {
    width: 60vw;
    height: calc(60vw * 0.3);
  }

  #section2 ul {
    flex-direction: column;
  }

  #section2 ul li img {
    width: 40vw;
  }

  #section3 ul {
    flex-direction: column;
  }

  #section3 ul li img {
    width: 30vw;
    height: calc(30vw * 1.6);
  }

  #footer {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  #footer .footer-info {
    flex-direction: column;
  }

  #footer ul {
    margin: 0.8em 0;
  }
}

@media (max-width: 600px) {
  body {
    font-size: var(--font-max-600-size);
  }
}

/* mobile version */
@media (max-width: 480px) {
  body {
    font-size: var(--font-max-480-size);
  }

  #main .main_text .text4 {
    display: none;
  }
}